<aside class="sidebar">
  {% if SIDEBAR_IMAGE %}
  <section>
	  <img src="{{ SITEURL }}/{{ SIDEBAR_IMAGE }}" alt="{{ SIDEBAR_IMAGE_ALT}}" width="{{SIDEBAR_IMAGE_WIDTH}}"/> 
  </section>
  {% endif %}
  <section>
    <h1>Recent Posts</h1>
    <ul id="recent_posts">
      {% for article in articles[:5] %}
      <li class="post">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#f2f2f2; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//github.us14.list-manage.com/subscribe/post?u=1ba87817b2a4306bf505d973b&amp;id=3ac2a9a7c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h1>Subscribe to our mailing list</h1>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1ba87817b2a4306bf505d973b_738f6d2d17" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
</section>
  {% if categories %}
  <section>
      
    <h1>Categories</h1>
    <ul id="recent_posts">
      {% for category, articles in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endif %} 

  <section>
  <h1>Tags</h1>
  {% for tag, article in tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
  {% endfor %}
  </section>

  {% include '_includes/github.html' %}
  {% include '_includes/social.html' %}
  {% include '_includes/links.html' %}
  {% include '_includes/twitter_sidebar.html' %}
  {% include '_includes/gplus_sidebar.html' %}
</aside>
